body {
  color: #171717;
  background-color: #ebebeb;
  font-family: "Raleway", sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  line-height: 30px;
  background-color: #fff;
  margin-top: 10px;
}

thead {
  background-color: #1f3352;
  color: #ebebeb;
}

th {
  min-height: 20px;
  padding: 5px;
  text-align: left;
}

tr {
  border-bottom: 1px solid #c8c8c8;
}

td {
  padding: 5px;
  min-width: 10vw;
}

a {
  color: #1f3352;
  text-decoration: underline dotted;
}

.vertical-container {
  display: flex;
}

.hidden {
  display: none;
}

.list {
  min-width: 48vw;
}

nav {
  align-items: center;
}

nav button {
  margin-left: 3vw;
}

button {
  background-color: #ebebeb;
  text-transform: uppercase;
  border: 2px solid black;
  display: inline-block;
  max-height: 40px;
  font-size: 1.1rem;
  border-radius: 4px;
  cursor: pointer;
}

button.active,
button:hover {
  background-color: black;
  color: white;
}
